services:
  backend:
    image: vanshjangir/vango-backend
    build:
      context: ./server/
      dockerfile: Backend.Dockerfile
    ports:
      - "8080:8080"
    extra_hosts:
      - "host.docker.internal:host-gateway"
  
  websocket:
    image: vanshjangir/vango-websocket
    build:
      context: ./server/
      dockerfile: Websocket.Dockerfile
    ports:
      - "8000:8000"
    extra_hosts:
      - "host.docker.internal:host-gateway"
  
  frontend:
    image: vanshjangir/vango-frontend
    build:
      context: ./frontend/
      args:
        VITE_HTTPS_URL: ${VITE_HTTPS_URL}
        VITE_GOOGLE_CLIENT_ID: ${VITE_GOOGLE_CLIENT_ID}
    ports:
      - "5173:80"

  redis:
    image: vanshjangir/vango:redis
    ports:
      - "6379:6379"
